.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .numbers {
        display: inline-flex;
        margin: 50px 0;
        & .operator {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 40px;
            color: red;
            font-size: 35px;
        }
        & .number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: clamp(40px, 70px, 100px);
            height: clamp(30px, 45px, 65px);
            border: 1px solid black;
            font-size: clamp(20px, 30px, 45px);
        }
    }
    & input.multiplicationInput {
        width: clamp(165px, 200px, 300px);
        height: 50px;
        border: none;
        border-bottom: 2px dashed orangered;
        border-radius: 11px;
        font-size: 28px;
        text-align: center;
        transition: border-color .4s;
        margin-bottom: 40px;
        &:focus-visible, :focus, :active {
            outline: none;
            border-bottom: 2px dashed black;
        }
    }
}


