@use "src/_variables";
.container {
  @include variables.container;
  & .content {
    @include variables.content;
    & .levelInputSelect {
      text-align: center;
      @include variables.box-regular;
      &:hover {
        cursor: pointer;
      }
    }
    & .selectLabel {
      color: white;
      font-size: 20px;
      @include variables.background-color;
      @include variables.border-radius;
      box-shadow: 0 1px 4px 2px rgb(0 0 0);
      padding: 7px;
    }
    & .example {
      color: white;
      font-size: 20px;
      @include variables.background-color;
      @include variables.border-radius;
      box-shadow: 0 1px 14px 2px rgb(0 0 0);
      padding: 2px;
    }
    & .startButton {
      @include variables.box-regular;
      &:hover {
        cursor: pointer;
      }
    }
  }
}