.startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid orangered;
  background-color: lightsalmon;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  & :hover {
    cursor: pointer;
    background-color: lightcoral;
  }
}