@use "src/_variables";
.container {
    @include variables.container;
    & .content {
        @include variables.content;
        & .answersCountBlock {
            @include variables.prevent-select;
            @include variables.flex-start;
            color: white;
            font-size: 38px;
            font-weight: bold;
            & .answersCount {
                @include variables.box-shadow;
                width: 65px;
                height: 65px;
                margin: 20px 30px;
                text-align: center;
                line-height: 60px;
            }
            & .good {
                outline: 4px solid lawngreen;
                @include variables.border-radius;
                @include variables.background-color;
            }
            & .bad {
                outline: 4px solid red;
                @include variables.border-radius;
                @include variables.background-color;
            }
        }
        & .numbers {
            @include variables.box-shadow;
            @include variables.border-radius;
            @include variables.prevent-select;
            margin: 75px 0 45px 0;
            display: inline-flex;
            @media only screen and (max-width: 600px) {
                margin: 10px 0 10px 0;
            }
            & :first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            & :last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            & .operator {
                @include variables.flex-center;
                @include variables.prevent-select;
                @include variables.background-color;
                color: white;
                font-size: 25px;
                font-weight: bold;
                width: 22px;
            }
            & .number {
                @include variables.flex-center;
                width: clamp(100px, 140px, 200px);
                height: clamp(50px, 65px, 75px);
                font-size: clamp(20px, 40px, 50px);
                @include variables.background-color;
                font-weight: bold;
                color: white;
            }
        }
        & input.multiplicationInput {
            @include variables.box-regular;
            color: ghostwhite;
            border: none;
            border-bottom: 3px dashed orangered;
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
            transition: border-color .4s;
            margin-bottom: 30px;
            @media only screen and (max-width: 600px) {
                margin-bottom: 10px!important;
            }
            &:focus-visible, :focus, :active {
                outline: none;
                border-bottom: 2px dashed black;
            }
        }
        & .exitButton {
            @include variables.box-regular;
        }
        & .checkAnswerButton {
            @include variables.box-regular;
            &:hover {
                @include variables.button-hover;
            }
        }
        & .pressEnterTip {
            @include variables.tip-regular;
            margin: 0;
        }
    }
}


