@use "src/_variables";
.container {
    @include variables.full-screen;
    @include variables.main-bg;
    @include variables.flex-start;
    overflow: hidden;
    flex-direction: column;
    & .content {
        @include variables.flex-start;
        flex-direction: column;
        margin-top: 50px;
        padding: 0 80px 80px 80px;
        background-color: rgba(0,0,0, .5);
        outline: 4px solid black;
        @include variables.box-shadow;
        & .answersCountBlock {
            @include variables.flex-start;
            color: white;
            font-size: 38px;
            font-weight: bold;
            & .answersCount {
                @include variables.box-shadow;
                width: 65px;
                height: 65px;
                margin: 20px 30px;
                text-align: center;
                line-height: 60px;
            }
            & .good {
                border: 4px solid lawngreen;
                border-radius: 8px;
                background-color: rgba(0, 0, 0, .8);
            }
            & .bad {
                border: 4px solid red;
                border-radius: 8px;
                background-color: rgba(0, 0, 0, .8);
            }
        }
        & .numbers {
            margin: 75px 0 75px 0;
            display: inline-flex;
            @include variables.box-shadow;
            @include variables.border-radius;
            & :first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            & :last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            & .operator {
                @include variables.flex-center;
                color: white;
                font-size: 25px;
                font-weight: bold;
                background-color: rgba(0, 0, 0, .8);
            }
            & .number {
                @include variables.flex-center;
                width: clamp(100px, 140px, 200px);
                height: clamp(50px, 65px, 75px);
                font-size: clamp(20px, 40px, 50px);
                background-color: rgba(0, 0, 0, .8);
                font-weight: bold;
                color: white;
            }
        }
        & input.multiplicationInput {
            @include variables.border-radius;
            @include variables.box-shadow;
            background-color: rgba(0, 0, 0, .7);
            width: clamp(250px, 300px, 400px);
            color: ghostwhite;
            height: 50px;
            border: none;
            border-bottom: 3px dashed orangered;
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
            transition: border-color .4s;
            margin-bottom: 40px;
            &:focus-visible, :focus, :active {
                outline: none;
                border-bottom: 2px dashed black;
            }
        }
    }
}


