@use "src/_variables";
.container {
  @include variables.container;
  & .content {
    @include variables.content;
    & .text {
      @include variables.background-color;
      font-size: 24px;
      border-radius: 8px;
      & p {
        padding: 20px;
        margin: 0;
        text-align: center;
      }
    }
  }
}
.goBackButton {
      @include variables.box-regular;
      color: black;
      margin: 20px 0 0 0;
      &:hover {
        cursor: pointer;
      }
}
