@use "src/_variables";
.container {
  @include variables.container;
  & .content {
    @include variables.content;
    padding-top: 30px !important;
    & * {
      color: white;
      font-size: 26px;
    }
    & a {
      text-decoration: none;
      padding: 10px 100px 10px 100px;
    }
    & .navigation {
      & .navList {
        @include variables.flex-center;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
          @include variables.box-regular;
        }
        & :hover {
          @include variables.button-hover;
        }
      }
    }
  }
}