@use "src/_variables";
.container {
  @include variables.full-screen;
  @include variables.flex-start;
  @include variables.main-bg;
  overflow: hidden;
  flex-direction: column;
  & .content {
    @include variables.background-color;
    @include variables.box-shadow;
    margin-top: 50px;
    padding: 80px;
    outline: 4px solid black;
    width: 300px;
    & * {
      color: white;
      font-size: 26px;
    }
    & a {
      text-decoration: none;
    }
    & .navigation {
      & .navList {
        @include variables.flex-center;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
          @include variables.box-regular;
        }
        & :hover {
          color: aqua;
        }
      }
    }
  }
}