.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
    outline: 2px solid lightcoral;
    background-color: orange;
    & * {
        color: white;
        font-size: 26px;
    }
    & a {
        text-decoration: none;

        & :hover {
            color: orangered;
        }
    }
    & span {
        position: relative;
        top: 20px;
        padding: 50px;
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
    & .logo {
        flex: 1;
        transition: color 0.5s;
    }
}

