@mixin main-bg {
  background-image: url("../public/images/mainBg.png");
  background-size: 80%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin full-screen {
  height: 100%;
  width: 100%;
}
@mixin box-shadow {
  box-shadow: 0 0 62px 0 rgba(255,255,255,.8);
}
@mixin border-radius {
  border-radius: 8px;
}

@mixin container {
  @include full-screen;
  @include main-bg;
  @include flex-start;
  overflow: hidden;
  flex-direction: column;
}

@mixin content {
  @include flex-start;
  @include box-shadow;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 80px 80px 80px;
  background-color: rgba(0,0,0, .5);
  outline: 4px solid black;
}